/*
        Découverte des variables en CSS
On définit la scope dans laquelle la variable est définie, par exemple
:root { // définit la variable pour tout le document
    --main-color: red;
}
.body {
    --main-color: blue; // définit la variable pour la classe body
}

On utilise les variables avec la syntaxe var(--nom-de-la-variable)
.body {
    color: var(--main-color);
}
*/

:root {
    --background-color: white;
    --text-color: black;
    --link-color: black;
}

.dark-mode {
    /* Dark mode colors */
    --background-color: black;
    --text-color: white;
    --link-color: white;
}

body {
    color: var(--text-color);
    /* background-color: var(--background-color); */
    background-image: url("../../../../../Downloads/bg.png");
    background-size: cover;
    background-attachment: fixed;
}

a {
    color: var(--link-color);
}

main {
    flex: 1;
}

header {
    display: flex;
    flex-direction: column;
    height: fit-content;
}



.header_title {
    font-size: 500%;
    text-align:center;
}

a {
    font-style: italic;
    text-decoration: none;
}

.header_sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#top_section_left, #top_section_center, #top_section_right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    text-align: center;
    /* width: fit-content; */
}

#head_title {
    font-size: 100%;
    text-align: center;
    background-color: transparent;
    border: none;
    transition:
    none;
}

#head_title:hover {
    background-color: transparent;
    border: none;
    transform: none;
}

.buttons {
    /* background-color: rgba(6,100,156,255); */
    border-radius: 12px;
    padding: 10px;
    font-size: 300%;
    /* color: white; */
    background-color: transparent;
    backdrop-filter: blur(15px);
    border: none;
    transform: none;
}


button:hover:not(#head_title) {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
}

#hiring {
    flex: display;
    flex-direction: row;
}

.introduction, .description, .testSpace, .contributors {
    padding: 2%;
    backdrop-filter: blur(15px);
    background-color: rgba(122, 135, 140, 0.61);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4%;
    margin-bottom: 5%;
    font-size: larger;
    border-radius: 25px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    width:inherit;
    /* position: absolute; */
    bottom: 0;
    background-color: aqua;
    width: 100%;
    box-sizing: border-box; /* Empêche les bordures et les padding d'ajouter de la largeur */
}