header, body, footer {
    background-color: rgb(58, 48, 48);
    color: white

}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.header_title {
    font:xx-large;
    text-align:center;
    color: rgb(55,68,98);
    gap: 10px;
}

.header_sections {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height:5cap;
}

.top_section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: x-large;
    background-color: rgb(40, 36, 36);
    margin: 50%;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: white;
    color: black;
    width: 90%;
    margin: 20px auto;

}