header, body, footer {
    /*
    background-color: rgb(135, 130, 130);
    color: black;
    */
}

.dark-theme {
    background-color: black;
    color: white;
}

.light-theme {
    background-color: white;
    color: black;
}

.dark-mode a{
    color: white;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 10px;
}



.header_title {
    font:xx-large;
    text-align:center;
}

.header_title.dark-mode.a {
    color: white;
}

.header_title.light-mode.a {
    color: black;
}

.header_sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#top_section_left, #top_section_center, #top_section_right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    text-align: center;
}


button {
    background-color: rgb(42, 39, 39);
    border-radius: 12px;
    padding: 10px;
    font-size: x-large;
    width: fit-content;
    color: white;
}

button:hover {
    /* display a transition when button is hovered with shadow (to investigate) */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
}

#hiring {
    flex: display;
    flex-direction: row;
}

.introduction {
    /* margin: top right bottom left */
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    backdrop-filter: blur(5px);
    padding: 15px;
}