header, body, footer {
    background-color: rgb(135, 130, 130);
    color: white;
}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    flex-direction: column;
    /* à voir pourquoi on ne peut pas descendre en dessous de 25% */
    height: 25%;
    gap: 10px;
    background-color: royalblue;
}



.header_title {
    font:xx-large;
    text-align:center;
}

.header_sections {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#top_section_left, #top_section_center, #top_section_right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    text-align: center;
}


button {
    background-color: rgb(42, 39, 39);
    border-radius: 12px;
    padding: 10px;
    font-size: x-large;
    width: 75%;
    color: white;
}

button:hover {
    /* display a transition when button is hovered with shadow (to investigate) */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
}

#hiring {
    flex: display;
    flex-direction: column;
    background-color: tomato;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: white;
    color: black;
    width: 90%;
    margin: 20px auto;
    box-shadow: 8px 8px 5px #444;
}